.row.proximos-viajes
            each viaje in viajes
                .col-md-6.col-lg-4.mb-4
                    .card
                        img(src=`img/destinos_${viaje.imagen}.jpg`, class="img-fluid")
                        .card-body
                            h2=viaje.titulo
                            p 
                                #{viaje.fecha_id} - #{viaje.fecha_vuelta}
                            p 
                                #{viaje.precio}
                            p= viaje.descripcion.substr(0,100)
                            p Un párrafo nuevo
                            a(href=`viajes/${viaje.id}`, class="btn btn-success btn-block") Más información